#alert {
	z-index: 999999;
	margin-right: -4px;
	max-width: 100%;
	color: #fff;
	background: #71B230;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.37px;
	padding: 18.5px 0;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	
	&.alert-shown {
		visibility: visible !important;
		margin-top: 0 !important;
	}
		
	&.alert-hidden {
		display: none !important;
	}

	#alert-message {
		padding-right: 32px;
		p,
		a {
			display: inline-block;
		}
		
		a {
		
		span {
			font-weight: 900;
			}
			
			img {
				position: relative;
				transition: transform 0.3s ease-out;
			}
			
		&:hover {
			img {
		        transform: translateX(10px);
			}			
		}
			
		}
		
	}

	#alert-close-wrap {
		display: inline-block;
		text-align: right;
	
		#alert-close {
			min-width: 16px;
			display: inline-block;
		}
	
	}
	
}

/*
@media (max-width: 992px) {
	
	.header > .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.main-menu {
	  display: none;
	  float: none;
	  z-index: 99;
	  padding-bottom: 20px;
	  padding-top: 15px;
	}

	.main-menu .btn {
	  margin-top: 5px;
	}

	.main-menu li {
	  float: none;
	  text-align: center;
	  padding: 0;
	}


	.active-menu .main-menu {
	  display: block;
	  position: absolute;
	  top: 0;
	  z-index: 5;
	  padding-top: 70px;
	  left: 0;
	  right: 0;
	  background: #016ecd;
	}

	.active-menu .menu-trigger span:nth-child(2) {
	  opacity: 0;
	}

	.active-menu .menu-trigger span:nth-child(1) {
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	      transform: rotate(45deg);
	  margin: 8px 0 -14px;
	}

	.active-menu .menu-trigger span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	      transform: rotate(-45deg);
	}

	.alignright {
	  margin-left: 15px;
	  margin-bottom: 15px;
	}
	
	.main-menu li.btn-menu{
    	margin-top: 10px;
    	margin-left: -12px;
  	}

}
*/

#offCanvas {
	padding-top: 1.3em;
	padding-bottom: 2em;
	
	 a {
		font-weight: 900;
		font-size: rem-calc(14);
		color: $black;
		letter-spacing: 1.25px;
		text-align: center;
		line-height: 1.14;
		text-transform: uppercase;
	
		&.ps-link {
			color: $brand-blue;
		}
		
	}
	
	ul#menu-main-menu {
		margin: 0;
		list-style: none;
		flex-direction: column;
		
		li {
			margin: 0.8em;
			
		&:not(.login) {
			a {
				padding: 0.3em;
			}
			
		}
		
		&.btn.blue {
			min-width: 0;
		  
			a {
				background: none;
				color: $white;
			}
		  
		}

		&.login {
			
			a {
				position: relative;
				padding-left: 2em;
				
				&:before {
					content: url(../images/person.svg);
					position: absolute;
					left: 0;
					width: 21px;
					height: 21px;
				}
				
			}
		}
			
		}
		
	}	
}

.header {
	position: relative;
	background-color: $white;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	z-index: 999;
	
	a {
		font-weight: 900;
		font-size: rem-calc(14);
		color: $black;
		letter-spacing: 1.25px;
		text-align: center;
		line-height: 1.14;
		text-transform: uppercase;
	
		&.ps-link {
			color: $brand-blue;
		}	
	
	}

	&.sticky-header {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-100%);
		transition: transform 0.4s ease-out;
		
		&.nav-up {
			transform: translateY(-100%);
		}
		
		&.nav-down {
			transform: translateY(0);
		}
		
	}
	
	.menu-trigger,
	.takover-trigger {
		display: block;
		cursor: pointer;
		width: 25px;
		z-index: 9;
		
		span {
			display: block;
			margin: 4px 0;
			height: 3px;
			transition: all .2s ease;
			background: $black;
			border-radius: 3px;
		}
	}


	.logo {
		margin: 0;
		position: relative;
		z-index: 10;
		
		img {
			width: 119px;
			margin-top: -9px;
			transition: opacity 0.3s ease;
		}
		
	}
	
	.main-menu {
		margin: 0;
		position: relative;
		display: flex;
		align-items: center;
		list-style: none;

		li {
			
			a {
				position: relative;
				top: -1px;
			}
			
			&:not(:first-child) {
				margin-left: 2em;
			}
			
		&.btn.blue {
			min-width: 0;
		  
			a {
				background: none;
				color: $white;
			}
		  
		}
		
		&.login {
			
			a {
				position: relative;
				padding-left: 2em;
				
				&:before {
					content: url(../images/person.svg);
					position: absolute;
					left: 0;
					width: 21px;
					height: 21px;
				}
				
			}
		}
			
		}
		
	}
	
}