#alert {
	z-index: 999999;
	margin-right: -4px;
	max-width: 100%;
	color: #fff;
	background: #71B230;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.37px;
	padding: 18.5px 0;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	
	&.alert-shown {
		visibility: visible !important;
		margin-top: 0 !important;
	}
		
	&.alert-hidden {
		display: none !important;
	}

	#alert-message {
		padding-right: 32px;
		p,
		a {
			display: inline-block;
		}
		
		a {
		
		span {
			font-weight: 900;
			}
			
			i {
				position: relative;
				transition: transform 0.3s ease-out;
			}
			
		&:hover {
			i {
		        transform: translateX(10px);
			}			
		}
			
		}
		
	}

	#alert-close-wrap {
		display: inline-block;
		text-align: right;
			
		i {
			font-size: rem-calc(22);
		}
				
	}
	
}

.header {
	position: relative;
	background-color: $white;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	z-index: 999;
	
	a.platform-link,
	.main-menu a {
		font-weight: 900;
		font-size: rem-calc(14);
		color: $black;
		letter-spacing: 1.25px;
		text-align: center;
		line-height: 1.14;
		text-transform: uppercase;
	
		&.ps-link {
			color: $brand-blue;
		}	
	
	}
	
	a.platform-link {
		color: $brand-blue;
		margin-left: 0.5em;
	}

	&.sticky-header {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-100%);
		transition: transform 0.4s ease-out;
		
		&.nav-up {
			transform: translateY(-100%);
		}
		
		&.nav-down {
			transform: translateY(0);
		}
		
	}
	
	#takover-trigger {
		display: block;
		cursor: pointer;
		width: 25px;
		z-index: 9;
		
		span {
			display: block;
			margin: 4px 0;
			height: 3px;
			transition: all .2s ease;
			background: $black;
			border-radius: 3px;
		}
	}


	.logo {
		margin: 0;
		position: relative;
		z-index: 10;
		
		img {
			width: 119px;
			margin-top: -9px;
			transition: opacity 0.3s ease;
		}
		
	}
	
	.main-menu {
		margin: 0;
		position: relative;
		display: flex;
		align-items: center;
		list-style: none;

		li {
			
			a {
				position: relative;
				top: -1px;
			}
			
			&:not(:first-child) {
				margin-left: 2em;
			}
			
		&.btn.blue {
			min-width: 0;
		  
			a {
				background: none;
				color: $white;
			}
		  
		}
		
		&.login {
			
			a {
				position: relative;
				padding-left: 2em;
				
				&:before {
					content: url(../images/person.svg);
					position: absolute;
					left: 0;
					width: 21px;
					height: 21px;
				}
				
			}
		}
			
		}
		
	}
	
	#takeover {
		display: none;
		position: fixed;
		z-index: 9999999999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		width: 100vw;
		height: 100%;
		height: 100vh;
		overflow: auto;
		background-color: #2e3341;
		
		.top {
			height: 80px;
						
			a {
				margin: auto;
				
				@include breakpoint(mobile) {
					margin: 0;
				}
			}
			
			button#takeover-close {
				position: absolute;
				right: 0;
				
				i {
					color: $white;
					font-size: rem-calc(30);
				}
				
			}
			
		}
		
		.grid-container,
		.menu-wrap {
			position: relative;
			height: 100%;
		}
		
		nav.menu-takeover-menu-container {
			width: 100%;
			max-width: 930px;
			margin: auto;
			padding-top: 7.1em;
			padding-bottom: 7.1em;
			
			> ul {
				margin: -3em 0 0;
				width: 100%;
				padding: 0;
				list-style: none;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				
				@include breakpoint(mobile) {
					flex-direction: row;
				}
				
				> li {
					padding: 0.75em .9375rem;
					
					
					@include breakpoint(large) {
						padding: 3em;
					}
	
					> a {
						color: $white;
						cursor: default;
						margin-bottom: 1.6em;
						
						@include breakpoint(mobile) {
							margin-bottom: 2.1em;
						}
					}
				
				}
				
				ul.sub-menu {
					list-style: none;
					padding: 0;
					margin: 0;
					
					li {
						margin: 0 0 1.1em;
						
						@include breakpoint(mobile) {
							margin: 0 0 1.9em;	
						}
						
						a {
							font-weight: 300;
							font-size: rem-calc(18);
							color: rgba(255,255,255,0.75);
							transition: color 0.25s ease;
							
						&:hover {
							color: rgba(255,255,255,1);
						}
							
						}
						
					@include breakpoint(large) {
						margin: 0 0 1.9em;
						
							a{
								font-size: rem-calc(24);
							}
						
					}
						
					}
					
				}
				
			}		
			
		}
		
	}
	
}


