.page-template-page-template-home {
	position: relative;
	
	.hero-banner {
		min-height: 100vh;
		
		>.grid-container {
			position: relative;
		}
		
		.circle {
			
			&.yellow {
				top: 7%;
				right: 28%;
				width: 147px;
				height: 147px;
			}

			&.red {
				top: 20%;
				right: 8%;
				width: 120px;
				height: 120px;
			}
			
		}
		
		.globe {
			position: absolute;
			top: 50%;
			left: auto;
			right: -375px;
			bottom: 0;
			transform: translateY(-50%);
		}
		
		.pies-wrap {
			top: 58%;
			left: 45%;
		}
		
		.left {
			position: relative;
			padding-top: 4em;
		    padding-bottom: 0em;
		}
		
		.right {
			padding-top: 0;
			padding-bottom: 4em;
		}
				
		.copy-wrap {
			padding-bottom: 1.8em;
		}
		
		button.video-play {
			cursor: pointer;
			color: $white;
			display: flex;
			align-items: center;
			
			i {
				font-size: rem-calc(24);
				margin-right: 7px;
			}
			
		}
		
		.multiple-conditions-wrap {
			position: relative;
			
			@include breakpoint(xmedium) {
				right: 40%;
			}

			@include breakpoint(large) {
				right: 20%;
			}
			
			#conditions-phone-wrap,
			img.conditions-panel {
				width: 300px;
				height: 300px;
				margin-left: auto;
				margin-right: auto;
				
				@include breakpoint(medium) {
					width: 650px;
					height: 618px;
				}
				
			}
			
			#conditions-phone-wrap {
								
				#condition-fade-copy-wrap {
					position: absolute;
				    z-index: 2;
				    left: 0;
				    right: 0;
				    top: 30px;
				    
				    @include breakpoint(xmedium) {
					    width: 180px;
					    left: 300px;
					    right: auto;
					    top: 180px;
				    }
				
					.single-condition-label {
						position: absolute;
						top: 0;
						left: 50%;
						opacity: 0;
						transform: translateX(-50%);
						transition: opacity 0.4s ease 0.1s, transform 0.4s ease;
						
						@include breakpoint(xmedium) {
							top: 0;
							left: 50px;
							opacity: 0;
							transform: translateX(50px);			
						}
						
						&.show-label {
							opacity: 1;
							transform: translateX(0);
						}
						
						p {
							color: $white;
						}
						
					}
					
				}

				#conditions-screen-wrap {
					position: relative;
					left: -60px;
					top: 60px;
					
					img.conditions-panel {
						opacity: 0;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						transition: 0.25s ease;
						
					&#screen_1 {
						z-index: 0;
						opacity: 1;
					}
						
					}
					
				}

			}
			
		}
		
		.scroll-down-anchor {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			position: absolute;
			font-family: MuseoSans-700;
			font-size: rem-calc(16);
			color: $white;
			text-align: center;
			line-height: 1.5;
			letter-spacing: 0.11px;
			font-weight: 700;
			left: 50%;
			bottom: 40px;
			transform: translateX(-50%);	
			
			i {
				margin-bottom: 0.5em;
				transition: transform 0.4s ease;
			}
			
		&:hover {
			i {
				transform: translateY(5px);
			}
		}
			
		}

	}
	
	
	.platform-cards {
		padding-top: 4.7em;
		padding-bottom: 5.1em;
		background-color: $brand-blue;
		background-image: linear-gradient(0deg, #000DC8 2%, rgba(1,53,205,0.55) 39%, rgba(0,147,255,0.00) 95%);
		
		h2 {
			color: $white;
			padding-bottom: 0.5em;
		}
		
		.single-card {
				margin-bottom: 1.875em;

			.inner {
				display: block;
				height: 100%;
				background: $white;
				box-shadow: 0 5px 5px -3px rgba(0,0,0,0.20), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
				border-radius: 8px;
				padding: 1.25em;
				
			&:hover h3 {
				color: $black;
			}
				
				.heading-wrap {
					padding-left: 0;
					h3 {
						font-weight: 900;
						font-size: rem-calc(34);
						font-size: 34px;
						letter-spacing: 0;
						line-height: 1.05;
						margin-bottom: 0;
					}
				}
				
				.list-label {
					padding-top: 1.7em;
					padding-bottom: 1.3em;
					font-weight: 900;
					font-size: rem-calc(12);
					text-transform: uppercase;
					letter-spacing: 1.8px;				
				}
				
				.list {
					ul {
						list-style: none;
						margin: 0;
						
						li {
							position: relative;
							padding-left: 36px;
							font-weight: 300;
							padding-bottom: 0.55em;
							
							&:before {
								content: "";
								position: absolute;
								font-size: 1.1em;
								top: 0;
								left: 10px;
								font-family: "Font Awesome 5 Pro";
								font-weight: 700;
								content: "\f058";
								color: $brand-blue;
							}
							
						}
						
					}
				}
	
			}
			
		}
		
	}
	
	.platform-solutions {
		padding-top: 4.65em;
		background-color: $gray-bg;
		
		.top {
			
			h2 {
				color: $alt-black;
			}
			
			h3 {
				padding-bottom: 0.125em;	
			}
			
			p {
				font-weight: 300;
				font-size: rem-calc(18);
				color: $alt-black;
				letter-spacing: 0.56px;
				text-align: center;
				line-height: 1.555;
			}
		}
				
	}
	
	.cube-rows-wrap {
		padding-top: 1.65em;
		padding-bottom: 2.4em;
		
		.cube-rows {
			
			.single-row {
				margin-bottom: 2em;
				background: $white;
				border-radius: 12px;
				overflow: hidden;
				box-shadow: 0 2px 1px -1px rgba(0,0,0,0.20), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
				
			&:nth-child(odd) {
				
				.cube-row {
				
				@include breakpoint(medium) {
					flex-direction: row-reverse;
				}
				
				}
				
			}
		
			}

			
			.inner {
				width: 100%;
				height: 100%;
			}
		
			.img-wrap {
				background-size: cover;
				.inner {
				}
			}

			.text-wrap {
				.inner {
					background-color: $white;
					padding: 2em;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					
					@include breakpoint(xmedium) {
						padding: 3em 4.375em;
					}
					
					h2 {
						font-size: rem-calc(34);
						letter-spacing: 0;
						text-align: left;
						line-height: 1.05;
						font-weight: 900;
						padding-bottom: 0.5em;
					}
					
					p {
						font-weight: 300;
						font-size: rem-calc(18);
						color: $alt-black;
						letter-spacing: 0.56px;
						line-height: 1.55;
					}
					
					a {
					    color: $brand-blue;
					}
					
				}
			}
			
		}
		
	}
	
	
	.benefits {
		background-color: $brand-blue;
		color: $white;
		padding-top: 6.9em;
		padding-bottom: 6.95em;
		
		.top {
			padding-bottom: 4em;
			
			h2 {
				padding-bottom: 0.4em;
			}
			
		}
		
		.cards-wrap {
			
			.single-card {
				margin-bottom: 2em;
				
				h4 {
					text-transform: uppercase;
					font-weight: 900;
					font-size: rem-calc(12);
					letter-spacing: 1.29px;
					line-height: 1.75;
				}
				
				p {
					font-weight: 300;
					font-size: rem-calc(18);
					letter-spacing: 0.56px;
					line-height: 1.555;
				}
				
			}
			
		}
		
	}
	
	
	.approach {
		background-color: $gray-bg;
		padding-top: 5.1em;
		
		.left {
			position: relative;
			padding-top: 0.9em;
			padding-bottom: 4em;
			
			img.globe {
				position: absolute;
				top: 35%;
				left: 0%;
				transform: translate(-50%, -50%);
			}
			
			.copy-wrap {
				
				ul {
					list-style: none;
					margin: 0;
					
					li {
						position: relative;
					    padding-left: 36px;
					    font-weight: 300;
					    padding-bottom: 0.55em;
					    
					    &:before {
							content: "";
							position: absolute;
							font-size: 1.1em;
							top: 0;
							left: 10px;
							font-family: "Font Awesome 5 Pro";
							font-weight: 700;
							content: "\f058";
							color: $brand-blue;
					    }
					    
					}
					
				}
				
			}
		}
		
		.right {
			position: relative;
			
			.red.circle {
				width: 63px;
				height: 63px;
				top: 3%;
				right: 40%;
			}
			
			.yellow.circle {
				width: 164px;
				height: 164px;	
				top: 30%;			
			}
			
			img {
				position: relative;
				max-width: 400px;
			}
		}
		
	}
	
	.blue-squares {
		padding-top: 6em;
		
		.square {
			margin-bottom: 1.875rem;
			.inner {
				background: $brand-blue;
				padding: 3.8em;
				color: $white;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
				
				.logos {
					padding-bottom: 6.8em;
					justify-content: center;
				
					.single-logo {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						
						img {
							max-height: 80px;
							width: auto;
						}
						
						&:not(:last-child):after {
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							width: 2px;
							background: $white;
						}
						
					}
				
				}
				
				h2 {
					padding-bottom: 0.28em;
				}
				
				p {
					font-weight: 300;
					font-size: rem-calc(18);
					letter-spacing: 0.56px;
					text-align: center;
					line-height: 1.555;
				}
								
			}
			
		&.bottom-left {
			.inner {
				align-items: flex-start;
				position: relative;
				overflow: hidden;
			
				img {
					position: absolute;
					top: 50%;
					right: -149px;
					transform: translateY(-50%);
				}
				
				.copy-wrap {
					max-width: 346px;
					
					p {
						text-align: left;
					}
					
				}
				
			}
		}
		
		&.bottom-right {
			
			h2 {
				font-size: rem-calc(60);
				letter-spacing: 0;
				text-align: center;
				line-height: 1.2;
			}
			
		}
			
		}
		
	}
	
	
	.text-image-set {
		padding-top: 2em;
		padding-bottom: 1.2em;
	}
	
	
	.quote-cards {
		padding-bottom: 5.55em;
		
		h2 {
			padding-bottom: 1.5em;
		}
		
		.single-quote {
			margin-bottom: 2em;
			
			.right {
				.inner {
					max-width: 460px;
			
					.btn-wrap {
						padding-top: 0.7em;
						padding-bottom: 0.8em;
				
						.video-play.btn {
							padding-left: 0;
							color: $brand-blue;
							
							i {
								font-size: rem-calc(24);
								margin-right: 7px;
							}
							
						}
					
					}
					
					.bottom {
							font-size: rem-calc(12);
							color: $alt-black;
							line-height: 1.333;
										
						.name {
							font-weight: 900;
							letter-spacing: 1.8px;
							text-transform: uppercase;
			
						}
					
						.img-wrap {
							img {
								max-width: 81px;
								border-radius: 100%;
							}	
						}
						
						.text-wrap {
							div {
								padding-bottom: 0.2em;
							}	
						}
					
					}
					
				}
			
			}
			
		}
		
	}
	
	
	.media-section {
	
		h2 {
			padding-bottom: 0.35em;
		}
	
		.media-section-wrap {
			padding-bottom: 5em;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
		    align-items: center;
		    
			@include breakpoint(mobile){
			    flex-direction: row;
			    align-items: stretch;
			}
	
			.single-media-link {
				margin-bottom: 1.875rem;
				min-width: 100%;
				max-width: 320px;
				min-height: 272px;
				max-height: 320px;
				
				@include breakpoint(mobile){
					min-height: 0;
				
				&:nth-child(4n+1),
				&:nth-child(4n+4) {
					min-width: 60%;
					max-width: 60%;
					
					.text-wrap {
						padding: 46px 78px 46px 32px;					
					}
					
				}
				
				&:nth-child(4n+2),
				&:nth-child(4n+3) {
					min-width: 40%;
					max-width: 40%;
					
					.text-wrap {
					    padding: 37px 45px 37px 13px;
					}
					
				}
		
				}
	
				.inner {
					position: relative;
					min-height: 100%;
					max-height: 272px;
					overflow: hidden;
					border-radius: 8px;
					
					> img {
						transition: all 0.3s ease;
						
						@include breakpoint(mobile){
							max-width: 100%;
						}
						
					}
	
				&.hovered > img {
					max-width: 110%;
					transform: translateX(-5%) translateY(-5%);
				}
	
					.text-wrap,
					.mask {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: 8px;
						overflow: hidden;
					}
		
					.text-wrap {
						color: #fff;
						border: 1px solid #979797;
						display: flex;
					    flex-direction: column;
					    justify-content: flex-end;
					    padding: 46px 32px 46px 32px;
					    
					    @include breakpoint(mobile){
						    
							h3 {
								font-weight: 700;
								font-size: 16px;
								line-height: 19px;
								color: #FFFFFF;
								letter-spacing: 0.67px;
							}
						    
						    p {
							    font-weight: 700;
								text-transform: uppercase;
								font-size: 14px;
								line-height: 17px;
								color: #92E0FA;
								letter-spacing: 2.92px;
								padding-bottom: 4px;					    
						    }
					    }
					    
						.read-now-wrap {
							padding-top: 4px;
							text-align: right;
							
							a {
								text-decoration: underline;
							}
						}
					    
					}
		
					.mask {
						background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.00)), color-stop(0%, rgba(0,0,0,0.28)), to(#000000));
					}
					
				}
				
			}
				
		}
	
	}	
	
	

}