.hero-banner {
	background-color: $brand-blue;
	color: $white;
	position: relative;
	display: flex;
	align-items: center;

&.height-normal {
	padding-top: 3em;
	padding-bottom: 3em;	
}
	
&.height-full {
	min-height: 100vh;
}
	
	.grid-container,
	.grid-x {
		width: 100%;	
	}
	
	> .grid-container {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.cell.half {
		position: relative;
		z-index: 2;
		
		@include breakpoint(xmedium) {
			padding-top: 3em;
		    padding-bottom: 3em;
	    }
	}
	
	h1 {
		font-weight: 900;
		font-size: rem-calc(45);
		color: $white;
		text-align: left;
		line-height: 1.045;
		font-family: 'museo-sans-display', 'museo-sans', Helvetica, Roboto, Arial, sans-serif;	
			
		@include breakpoint(xmedium) {
			font-size: rem-calc(60);	
		}
			
	}
	
	.copy-wrap p {
		font-weight: 300;
		font-size: rem-calc(18);
		color: $white;
		letter-spacing: 0.56px;
		text-align: left;
		line-height: 1.555;
	}
	
	.buttons-wrap {
		.btn {
			margin-bottom: 1.5em;
		}	
	}
	
}