.two-col-icon-left-text {
		
	.text-wrap {
		
		h3 {
			font-weight: 900;
			font-size: rem-calc(12px);
			letter-spacing: 1.29px;
			line-height: 2.5;
			padding-bottom: 0.3em;
			margin-bottom: 0;
		}
		
		p {
			font-weight: 300;
		    font-size: 1.125rem;
		    letter-spacing: .56px;
		    line-height: 1.555;
	    }
    }
	
}